.heading {
    text-transform: uppercase;
    /* width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 120% 1px; */
}